# --- Local Development ---
-e .

# --- Data Processing & Analysis ---
pandas
numpy
pyarrow
openpyxl

# --- CLI & Utilities ---
typer
python-dotenv>=0.5.1
# loguru
tqdm
requests

# --- Quality, Formatting & Testing ---
black
isort
flake8
pytest
pytest-cov

# --- Documentation ---
mkdocs

# --- DevOps & Cloud ---
# awscli

# --- Data Validation ---
great-expectations