# --- Local Development ---
-e .

# --- Data Processing & Analysis ---
pandas
numpy
pyarrow
openpyxl

# --- CLI & Utilities ---
click
typer
python-dotenv>=0.5.1
loguru
tqdm
requests

# --- Quality, Formatting & Testing ---
black
isort
flake8
pytest
pytest-cov
coverage

# --- Documentation ---
Sphinx
mkdocs

# --- DevOps & Cloud ---
# awscli

# --- Backwards Compatibility ---
pathlib2

# --- Data Validation ---
great-expectations